body {
    background-color: #393E46;
}

.header {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
}

.c1 {
    text-align: center;
    margin-top: 2%;
}

p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

.c2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

.c3 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}



.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.button {
    background-color: #393E46;
    font-family: 'Lobster', cursive;
    color: #4ECCA3;
}

.c4 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.head {
    margin: 30px;
    margin-bottom: 0;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 5rem;
    color: #4ECCA3;
}

a {
    color: #EEEEEE;
    font-family: 'Indie Flower', cursive;
}

.insta {
    width: 6%;
    margin-right: 0.5%;
}

input {
    margin-bottom: 5%;
    background-color: #4ECCA3;
    display: block;
}

label {
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 1rem;
    color: #4ECCA3;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.head1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4rem;
    color: #4ECCA3;
    text-align: center;
}

.buton
{
    color: #393E46;
    font-family: 'Lobster', cursive;
    background-color: #4ECCA3;
    border: 2px solid #232931;
    margin-bottom: 5%;
}

@media(max-width: 768px) {
    .dice {
        text-align: center;
        display: block;
    }

    .c3 {
        text-align: center;
        display: block;
    }

    .header {
        font-size: 4rem;
    }

    .head
    {
        font-size: 4rem;
    }
    
    .img1
    {
        height: 15%;
        width:15%
    }
    .img2
    {
        height: 15%;
        width: 15%;
    }
}